h1, h3 {
  text-align: center;
}

#container {
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 600px;
}

#launch, #reset {
  margin: auto;
}

#reset {
  display: none;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
  }

  button:disabled {
    background-color: #cccccc;
    cursor: default;
  }

  #board {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: darkblue;
  }

  .placeholderMark {
    background-color: white;
    color:black;
    cursor: pointer;
    border: none;
  }